.global-loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.75);
  filter: opacity(0.75);
  z-index: 1000;

  .global-loading-icon {
    width: 150px;
    height: 150px;
    margin-left: -75px;
    margin-top: -150px;
    position: absolute;
    left: 50%;
    top: 50%;

    background: url(../images/loading.gif) center center no-repeat;
  }
}
