@import '../core/style/_variables';

$rv-toolbar-min-height: 64px !default;
$rv-toolbar-font-size: 20px !default;
$rv-toolbar-padding: 16px !default;

rv-toolbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  min-height: $rv-toolbar-min-height;

  font-size: $rv-toolbar-font-size;
  font-weight: 400;
  font-family: $rv-font-family;

  padding: 0 $rv-toolbar-padding;
}

rv-toolbar > [rv-button]:first-child {
    margin-left: -8px;
}

rv-toolbar-row {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
